@font-face {
  font-family: 'HelveticaNow';
  src: url('../fonts/HelveticaNowText-Bold.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-ExtBdIta.ttf') format('trutype'),
       url('../fonts/HelveticaNowText-Medium.ttf') format('truetype'),
       url('../fonts/HelveticaNowText-Regular.ttf') format('truetype');
}

.itemContainer{
  font-family: 'HelveticaNow', sans-serif;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
}

.itemImage{
  max-width: 100%;
  height: auto;
}

.itemContent{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.itemName{
  font-size: 1em;
  font-weight: 600;
  color: #393e46;
}

.itemButton{
  border: none;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #29bb89;
  cursor: pointer;
  border-radius: 5px;
}

.buttonContainer{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}